In [ ]:
#Q1
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [i for i in list1 if i%2==0]
list2

[2, 4, 6, 8, 10]

In [ ]:
#Q2
class Person:
  def details(self,name,age,gender):
    self.name = name
    self.age = age
    self.gender = gender
    print(f'''Name : {self.name}, Age : {self.age}, Gender : {self.gender}''')

t = Person()
t.details("Tushar",22,"Male")

Name : Tushar, Age : 22, Gender : Male

In [ ]:
import requests
data = requests.get(f"https://api.example.com/data")

In [8]:
list1 = ['apple','banana','cherry','date']
l2 = lambda : sorted(list1,key=len)
print(l2)

<function <lambda> at 0x7a3596922950>

In [9]:
class Vehicle:
  def drive(self):
    print('Driving a vehicle')

class Car(Vehicle):
  def drive(self):
    print("The car is easier to drive in autmatic as well as manual")

class Truck(Vehicle):
  def drive(self):
    print("This is a bigger vehicle with just manual drive and hard to learn")

class Motorcycle(Vehicle):
  def drive(self):
    print("This vehicle is two wheeler and easier to handle with handlebars")

t = Car()
t.drive()

The car is easier to drive in autmatic as well as manual

# **SQL Assessment**

In [ ]:
#Q2.
SELECT employee_name , manager_id FROM employees
SELECT * from employees

In [ ]:
#Q3
SELECT customer_name customer_id, COUNT(DISTINCT(customer_name))
FROM customers,orders
WHERE customers.customer_id=orders.order_id
HAVING count(order_id)>0